#### Задание

- (1 балл) Вывести все уникальные бренды, у которых стандартная стоимость выше 1500 долларов.
- (1 балл) Вывести все подтвержденные транзакции за период '2017-04-01' по '2017-04-09' включительно.
- (1 балл) Вывести все профессии у клиентов из сферы IT или Financial Services, которые начинаются с фразы 'Senior'.
- (1 балл) Вывести все бренды, которые закупают клиенты, работающие в сфере Financial Services
- (1 балл) Вывести 10 клиентов, которые оформили онлайн-заказ продукции из брендов 'Giant Bicycles', 'Norco Bicycles', 'Trek Bicycles'.
- (1 балл) Вывести всех клиентов, у которых нет транзакций.
- (2 балла) Вывести всех клиентов из IT, у которых транзакции с максимальной стандартной стоимостью.
- (2 балла) Вывести всех клиентов из сферы IT и Health, у которых есть подтвержденные транзакции за период '2017-07-07' по '2017-07-17'.

Описание таблицы customer: (Поле Описание)
- customer_id	id клиента
- first_name 	имя клиента
- last_name 	фамилия клиента
- gender 	пол
- DOB 	дата рождения
- job_title 	профессия
- job_industry_category	сфера деятельности
- wealth_segment 	сегмент благосостояния
- deceased_indicator 	флаг актуального клиента
- owns_car 	флаг наличия автомобиля
- address 	адрес проживания
- postcode 	почтовый индекс
- state 	штаты
- country 	страна проживания
- property_valuation	оценка имущества

Описание таблицы transaction: (Поле Описание)
- transaction_id	id транзакции
- product_id	id продукта
- customer_id	id клиента
- transaction_date	дата транзакции
- online_order	флаг онлайн-заказа
- order_status	статус транзакции
- brand	бренд
- product_line	линейка продуктов
- product_class	класс продукта
- product_size	размер продукта
- list_price	цена
- standard_cost	стандартная стоимость

In [ ]:
-- Вывести все уникальные бренды, у которых стандартная стоимость выше 1500 долларов.

SELECT DISTINCT brand
FROM "transaction"
WHERE standard_cost > 1500;

![](1.png)

In [ ]:
-- Вывести все подтвержденные транзакции за период '2017-04-01' по '2017-04-09' включительно.

SELECT *
FROM "transaction"
WHERE order_status = 'Approved' AND (to_date(transaction_date, 'dd-MM-yyyy') BETWEEN '2017-04-01' AND '2017-04-09');

![](2.png)

In [ ]:
-- Вывести все профессии у клиентов из сферы IT или Financial Services, которые начинаются с фразы 'Senior'.

SELECT DISTINCT job_title
FROM customer
WHERE job_industry_category IN ('IT', 'Financial Services') AND job_title LIKE 'Senior%';

![](3.png)

In [ ]:
-- Вывести все бренды, которые закупают клиенты, работающие в сфере Financial Services

SELECT DISTINCT brand
FROM "transaction"
WHERE customer_id IN (SELECT customer_id FROM customer WHERE job_industry_category = 'Financial Services');

![](4.png)

In [ ]:
-- Вывести 10 клиентов, которые оформили онлайн-заказ продукции из брендов 'Giant Bicycles', 'Norco Bicycles', 'Trek Bicycles'

SELECT DISTINCT c.first_name, c.last_name 
FROM "transaction" t JOIN customer c ON t.customer_id = c.customer_id 
WHERE t.online_order AND t.brand IN ('Giant Bicycles', 'Norco Bicycles', 'Trek Bicycles')
LIMIT 10;

![](5.png)

In [ ]:
-- Вывести всех клиентов, у которых нет транзакций.

SELECT c.*
FROM customer c LEFT JOIN "transaction" t ON c.customer_id = t.customer_id 
WHERE t.customer_id IS NULL;

![](6.png)

In [ ]:
-- Вывести всех клиентов из IT, у которых транзакции с максимальной стандартной стоимостью.

SELECT c.*, t.*
FROM customer c JOIN "transaction" t ON c.customer_id = t.customer_id 
WHERE c.job_industry_category = 'IT' AND t.standard_cost = (SELECT MAX(standard_cost) FROM "transaction");

![](7.png)

In [ ]:
-- Вывести всех клиентов из сферы IT и Health, у которых есть подтвержденные транзакции за период '2017-07-07' по '2017-07-17'.

SELECT DISTINCT c.*
FROM customer c JOIN "transaction" t ON c.customer_id = t.customer_id  
WHERE c.job_industry_category IN ('IT', 'Health') AND t.order_status = 'Approved' AND (to_date(t.transaction_date, 'dd.MM.yyyy') BETWEEN '2017-07-07' AND '2017-07-17');

![](8.png)